@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: black;
}

.apresentacao {}

.apresentacao_itens {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.apresentacao_textos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.redes_sociais_texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titulo_texto {
  color: white;
  font-family: 'Krona One', serif;
  font-size: 36px;
}

.paragrafo_texto {
  color:white;
  font-family: 'Montserrat', serif;
  font-size: 24px;
}

header {
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items: center;
  background-color: blueviolet;
  height: 50px;
  gap: 50px;
  padding-left: 50px;
}

.cabecalho_texto {
  font-family: 'Montserrat', serif;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  height: 50px;
}

.rodape_texto {
  color: white;
  font-family: 'Krona One', serif;
}