@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

.menu_opcoes {
  background-color: #3674B5;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
}

.menu_opcoes_itens {
  width: 20rem;
  height: 1.5rem;
  border: .1rem solid;
  padding: 0.15rem;
  box-shadow: .2rem .1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  background-color: #A1E3F9;
  color: #D1F8EF;
}

span {
  color: black;
}

a:hover {
  background-color: #3674B5;
}

.apresentacao {
  background-color: #A1E3F9;
  padding: 2rem;
}

.apresentacao_itens {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.titulo_texto {
  font-family: 'Krona one', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 3rem;
}

.redes_sociais_texto {
}

.img_page {
  width: 50rem;
}

.rodape_texto {
  background-color: #3674B5;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.by_ms {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1rem;
}